body {
  background-color: #444;
  background-image: url(33036b1bffe083c5d30824f1ff204b90.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 100hv; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

